## Importing the dataset

In [9]:
from pathlib import Path
import pandas as pd
import tomli  

config_path = Path.cwd().parent / "config.toml"

with open(config_path, "rb") as f:
    config = tomli.load(f)
dataset_path = config["paths"]["dataset"]
full_dataset_path = Path.cwd().parent / dataset_path

df = pd.read_csv(full_dataset_path)
df.head()

,Unnamed: 0,Price,Area,Location,No. of Bedrooms,New/Resale,Gymnasium,Lift Available,Car Parking,Maintenance Staff,24x7 Security,Children's Play Area,Clubhouse,Intercom,Landscaped Gardens,Indoor Games,Gas Connection,Jogging Track,Swimming Pool
0,0,4850000,720,Kharghar,1,0,0,1,1,1,1,0,0,0,0,0,0,0,0
1,1,4500000,600,Kharghar,1,0,1,1,1,1,1,0,1,0,0,0,0,1,1
2,2,6700000,650,Kharghar,1,0,1,1,1,1,1,1,1,1,0,0,0,1,1
3,3,4500000,650,Kharghar,1,0,0,1,1,1,1,0,0,1,1,0,0,0,0
4,4,5000000,665,Kharghar,1,0,0,1,1,1,1,0,0,1,1,0,0,0,0

In [10]:
features = df.columns
features

Index(['Unnamed: 0', 'Price', 'Area', 'Location', 'No. of Bedrooms',
       'New/Resale', 'Gymnasium', 'Lift Available', 'Car Parking',
       'Maintenance Staff', '24x7 Security', 'Children's Play Area',
       'Clubhouse', 'Intercom', 'Landscaped Gardens', 'Indoor Games',
       'Gas Connection', 'Jogging Track', 'Swimming Pool'],
      dtype='object')

In [11]:
df.drop("Unnamed: 0", axis=1, inplace=True)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6347 entries, 0 to 6346
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Price                 6347 non-null   int64
 1   Area                  6347 non-null   int64
 2   Location              6347 non-null   object
 3   No. of Bedrooms       6347 non-null   int64
 4   New/Resale            6347 non-null   int64
 5   Gymnasium             6347 non-null   int64
 6   Lift Available        6347 non-null   int64
 7   Car Parking           6347 non-null   int64
 8   Maintenance Staff     6347 non-null   int64
 9   24x7 Security         6347 non-null   int64
 10  Children's Play Area  6347 non-null   int64
 11  Clubhouse             6347 non-null   int64
 12  Intercom              6347 non-null   int64
 13  Landscaped Gardens    6347 non-null   int64
 14  Indoor Games          6347 non-null   int64
 15  Gas Connection        6347 non-null   int64
 16  Jogging Track         6347 non-null   int64
 17  Swimming Pool         6347 non-null   int64
dtypes: int64(17), object(1)
memory usage: 892.7+ KB

- The dataset is cleaned and does not contain any missing values.

In [43]:
features = df.columns
for feature in features:
    feature_unique = df[feature].unique()
    feature_values_count = len(feature_unique)
    
    print(f"{feature} {feature_values_count} {feature_unique[:5]}")

Price 979 [ 4850000  4500000  6700000  5000000 17000000]
Area 1140 [ 720  600  650  665 2000]
Location 413 ['Kharghar' 'Sector-13 Kharghar' 'Sector 18 Kharghar' 'Sector 20 Kharghar'
 'Sector 15 Kharghar']
No. of Bedrooms 7 [1 4 3 2 5]
New/Resale 2 [0 1]
Gymnasium 2 [0 1]
Lift Available 2 [1 0]
Car Parking 2 [1 0]
Maintenance Staff 2 [1 0]
24x7 Security 2 [1 0]
Children's Play Area 2 [0 1]
Clubhouse 2 [0 1]
Intercom 2 [0 1]
Landscaped Gardens 2 [0 1]
Indoor Games 2 [0 1]
Gas Connection 2 [0 1]
Jogging Track 2 [0 1]
Swimming Pool 2 [0 1]

- From above output we can see besides price all featurs seems to be categorical. 
- We will consider all featurs with value 0/1 as categorical.
- Price, Area and No of bedroom as continious
- Location needs to explored more

In [46]:
df['Location'].unique()

array(['Kharghar', 'Sector-13 Kharghar', 'Sector 18 Kharghar',
       'Sector 20 Kharghar', 'Sector 15 Kharghar', 'Dombivali',
       'Churchgate', 'Prabhadevi', 'Jogeshwari West', 'Kalyan East',
       'Malad East', 'Virar East', 'Virar', 'Malad West', 'Borivali East',
       'Mira Road East', 'Goregaon West', 'Kandivali West',
       'Borivali West', 'Kandivali East', 'Andheri East', 'Goregaon East',
       'Wadala', 'Ulwe', 'Dahisar', 'kandivali', 'Goregaon',
       'Bhandup West', 'thakur village kandivali east', 'Santacruz West',
       'Kanjurmarg', 'I C Colony', 'Dahisar W', 'Marol', 'Parel',
       'Lower Parel', 'Worli', 'Jogeshwari East', 'Chembur Shell Colony',
       'Central Avenue', 'Chembur East', 'Diamond Market Road', 'Mulund',
       'Nalasopara West', 'raheja vihar', 'Powai Lake', 'MHADA Colony 20',
       'Tolaram Colony', 'Taloja', 'Thane West', 'Vangani',
       'Sector 5 Ulwe', 'Sector12 New Panvel', 'Sector 17 Ulwe',
       'Sector9 Kamothe', 'Sector 19 Kharghar', 'Navi Basti',
       'Sector12 Kamothe', 'Sector 21 Kamothe', 'Rutu Enclave',
       'taloja panchanand', 'Virar West', 'Chembur', 'Sector 20 Kamothe',
       'Sector 22 Kamothe', 'Sector 18 Kamothe', 'Sector-5 Kamothe',
       'Sector-6A Kamothe', 'Sector 11 Kamothe', 'Sector-18 Ulwe',
       'Sector-12 Kamothe', 'azad nagar', 'Sindhi Society Chembur',
       'Kurla', 'Sahkar Nagar', 'Deonar', 'Thane', 'Jankalyan Nagar',
       'Badlapur', 'Ambarnath', 'Ambernath West', 'Vakola', 'Kamothe',
       'Kamothe Sector 16', 'Almeida Park', 'Khar', 'Bandra West',
       'Pali Hill', '15th Road', 'Palghar', 'Sector13 Kharghar',
       'Sector 21 Kharghar', 'Sector 12 Kharghar', 'Vivek Vidyalaya Marg',
       'Vasai east', 'Nahur', 'Badlapur West', 'Panvel', 'Kalyan',
       'Badlapur East', 'Mira Bhayandar', 'Juhu', 'Naigaon East',
       'Sector 21 Ulwe', 'Bandra East', 'Dronagiri', 'Nerul', 'Karanjade',
       'Sanpada', 'Sector-8 Ulwe', 'Sector-3 Ulwe', 'Sector 23 Ulwe',
       'ULWE SECTOR 19', 'Ghodbunder Road', 'Bhiwandi', 'Vasai',
       'Nala Sopara', 'Dadar East', 'Ghatkopar', 'Breach Candy',
       'Worli South Mumbai', 'Asangaon', 'Koparkhairane Station Road',
       'Kopar Khairane Sector 19A', 'Koper Khairane',
       'Eastern Express Highway Vikhroli', 'Magathane', 'Rawal Pada',
       'Ambernath East', 'Dokali Pada', 'Dattapada', 'Rajendra Nagar',
       'Kulupwadi', 'Samata Nagar Thakur Village', 'Mira Road and Beyond',
       'West Amardeep Colony', 'Pant Nagar', 'mumbai', 'Four Bungalows',
       'no 9', 'kolshet', 'Hiranandani Meadows', 'Kalpataru', 'Petali',
       'Kharghar Sector 34C', 'Ghatkopar East',
       'Mumbai Agra National Highway', 'vasant vihar thane west',
       'Kalyan West', 'Shirgaon', 'Pokhran 2', 'juhu tara', 'Peddar Road',
       'Palm Beach', 'Sector 10', 'Sector 19 Kamothe', 'Tilak Nagar',
       'Ghatkopar West', 'Tardeo', 'Napeansea Road', 'Mahalaxmi',
       'Dahisar West', 'Mulund West', 'Natakwala Lane', 'Link Road',
       'Devidas Cross Lane', 'Soniwadi Road', 'Haridas Nagar', 'Shimpoli',
       'TPS Road', 'Off Shimpoli road', 'Rustomjee Global City',
       'Sunil Nagar', 'Sector 30 Kharghar', 'Sector 12 A', 'Sector 18',
       'Sector13 Khanda Colony', 'Sector16 Airoli', 'Ranjanpada',
       'Sector 15', 'Sector 35G', 'Sector 5', 'Sector 35I Kharghar',
       'Sector35D Kharghar', 'Sector34 A Kharghar', 'Sector 30',
       'Sector 36 Kharghar', 'Sector 11 Belapur', 'Sector-34B Kharghar',
       'Dombivali East', 'Roadpali', 'Sector-50 Seawoods',
       'Mumbai Highway', 'Sector 7 Kharghar', 'Lokhandwala Township',
       'Andheri', 'Andheri West', 'Shastri Nagar', 'Wadala East Wadala',
       'Kalwa', 'PARSIK NAGAR', 'Maharashtra Nagar', 'Patlipada',
       'Belapur', 'Seawoods', 'Majiwada', '4 Bunglows', 'Airoli',
       'Kolshet Road', 'Sector 10 Khanda Colony', 'Pokharan Road',
       'Kharegaon', 'Panch Pakhadi', 'Sector 36 Kamothe',
       'Dombivli (West)', 'DN Nagar Road', 'Godrej Hill', 'Ganesh Nagar',
       'Haware City', 'Mahatma Gandhi Road', 'Akurli Nagar',
       'Kasar vadavali', 'Vasai West', 'Mumbai Nashik Expressway',
       'Katrap', 'Mira Road', 'Kasheli',
       'Western Express Highway Kandivali East', 'Vasind', 'KASHELI',
       'Thakurli', 'Shakti Nagar', 'Bhayandar East', 'Dahisar East',
       'ulhasnagar 4', 'Sector-26 Taloja', 'Koproli', 'Mumbai Central',
       'Greater Khanda', 'link road borivali west', 'Manpada',
       'Sector 2 Ulwe', 'Govind nagar', 'Krishanlal Marwah Marg',
       'Sector-9 Ulwe', 'Vikhroli', 'Kalamboli', 'Lokhandwala',
       'Patel Nagar', 'Yari Road', 'Thakur complex', 'Khar West',
       'Sector 11 Kharghar', 'Ghansoli', 'Sector8 Sanpada',
       'Jeejamata Nagar', 'Pandurangwadi', 'Shreyas Colony',
       'Kannamwar Nagar II', 'gokuldham', 'Bangur Nagar',
       'Shivaji Colony', 'Jawahar Nagar', 'Vedant Complex', 'Titwala',
       'Manvel pada Road', 'Govandi', 'Shilphata Road Thane',
       'Vasant Vihar', 'Thakur Village', 'Samata nagar', 'Wadi Bandar',
       'Kapurbawadi', 'Thane Belapur Road Kalwa', 'Suburbs Mumbai',
       'Ramdev Park', 'Sector-35 Kamothe',
       'Sector 58A Seawoods Navi Mumbai', 'Diva', 'Borivali',
       'Gundavali Gaothan', 'Kondivita Road', 'Koldongri', 'Saki Naka',
       'Bhayandar West', 'Versova', 'Hanuman Nagar', 'worli sea face ',
       'Sea Face', 'Shiv Sagar Estate', 'Grant Road West', 'Sriprastha',
       'Off Nepean Sea Road', 'Morya Nagar', 'Upper Worli',
       'worli sea Fase', 'Powai', 'Agripada', 'Sion', 'Girgaon',
       'IT Colony', 'Bhayandarpada', 'Sector-24 Kamothe', 'Phase 2',
       'Sector 6', 'Malad', 'Haji Ali', 'Majiwada thane', 'Yogi Hills',
       'Sector 19 Nerul', 'Owale', 'MG Road', 'roadpali navimumbai',
       'Taloja Bypass Nitalas Link Road', 'Rasayani', 'Sector 10 Kamothe',
       'kavesar', 'Kopara', 'royal palms goregaon east', 'Dadar West',
       'vrindavan society', 'CBD Belapur East', 'Parel Village',
       'Karave Nagar', 'Sector 19A Nerul', 'Antop Hill', 'Suman Nagar',
       'Bhakti Park', 'Hanuman Chowk', 'Willingdon', 'VishnuNagar',
       'Vichumbe', 'Vashi', 'Poonam Sagar Complex', 'Santacruz East',
       'Mulund East', 'Sector-8 Sanpada', 'Sector-9 Ghansoli', 'Balkum',
       'Hiranandani Estates', 'Vartak Nagar', 'Charkop', 'dhanukarwadi',
       'Vazira', 'Four Bunglows', 'Palava',
       'Oshiwara Police Station Road', 'Seven Bunglow', 'Poddar Road',
       'Gulmohar Road', 'Vile Parle E', 'Pokhran Road No 2',
       'Sainath Nagar', 'Kapur Bawdi', 'Manpada near Tiku ji ni wadi',
       'Kolshet Industrial Area', 'Sector16 Ulwe',
       'Anand Nagar Thane West', 'Charkop Sector 8', 'Vile Parle',
       'Marine Lines', 'Bandra Kurla Complex', 'sec 50 new',
       'Vakola Pipeline Road', 'Neral', 'Shil Phata', 'Ville Parle East',
       'matunga east', 'Dharavi', 'vile parle west', 'Anjurdive', 'Uran',
       'Boisar', 'Kanjurmarg East', 'Kurla West', 'Sewri', 'Matunga',
       'Goregaon (East)', 'Malabar Hill', 'Ambivali', 'Nalasopara East',
       'Vijay Nagar', 'Chedda Nagar', 'Kurla East', 'Kharodi',
       'Ville Parle West', 'Vikhroli West', 'Wadala East', 'Palidevad',
       'Vikroli East', 'Mahim', 'Khalapur', 'Karjat', 'Vitthalwadi',
       'Bhoiwada Kalyan', 'Beturkar Pada', 'Ambivli', 'Nilje Gaon',
       'Khopoli', 'Taloje', 'Gulal Wadi', 'Tilak Nagar Mumbai',
       'Chandivali', 'Nere', 'Kewale', 'Sector 9 Airoli', 'Diva Gaon',
       'Sen Nagar', 'Adaigaon', 'Syndicate', 'Gandhar Nagar', 'Byculla',
       'Padle Gaon'], dtype=object)

In [50]:
west_locations = df[df['Location'].str.contains('West', case=False, na=False)]
west_locations["Location"].unique()

array(['Jogeshwari West', 'Malad West', 'Goregaon West', 'Kandivali West',
       'Borivali West', 'Bhandup West', 'Santacruz West',
       'Nalasopara West', 'Thane West', 'Virar West', 'Ambernath West',
       'Bandra West', 'Badlapur West', 'West Amardeep Colony',
       'vasant vihar thane west', 'Kalyan West', 'Ghatkopar West',
       'Dahisar West', 'Mulund West', 'Andheri West', 'Dombivli (West)',
       'Vasai West', 'Western Express Highway Kandivali East',
       'link road borivali west', 'Khar West', 'Bhayandar West',
       'Grant Road West', 'Dadar West', 'Anand Nagar Thane West',
       'vile parle west', 'Kurla West', 'Ville Parle West',
       'Vikhroli West'], dtype=object)